body {
  background-color:#CEE0F2;
}
.main-number-container{
  border:black 1px solid;

  background-color: #FFFFFFFF;
  color:black;

  display:flex;
  margin-left:400px;
}
.num{
  border: black 1px solid;
  width:100px;
  height:140px;

  text-align:center;
  font-size:25px;
  font-family:Arial, Helvetica, sans-serif;

  display:flex;
  align-items:center;
  justify-content:center;
}
.red{
  color:red;
  font-size:20px;
}